/**
 * @name P5R
 * @author ennesis
 * @version 1.0
 * @description A brief description of your theme.
*/

@font-face {
    font-family: "shoplifter";
    src: url("./shoplifter.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "ransom";
    src: url("./Persona5FanRansom.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "optima";
    src: url("./optimanova.ttf");
    font-weight: 200;
}

:root {
    --p5-black: #000;
    --p5-white: #fff;
    --p5-red: #f00;
}

body *, ::placeholder {
    font-family: "optima" !important;
}

.stack_dbd263 {
    background-color: var(--p5-red);
}

.headerText_c19a55 > .username_c19a55 {
    font-family: "shoplifter" !important;
    font-size: 1.5rem;
    color: #fff;
}
/*
.messageListItem__5126c {
    background-image: url("./Chat.png");
    background-repeat: no-repeat;
    padding: 20px 0px;
    background-size: 120% 100%;
    background-position-x: 15%;
}
*/

.backgroundFlash__5126c .message__5126c {
    padding-bottom: 2%;
}

.backgroundFlash__5126c.groupStart__5126c {
    margin-top: 6%;
}

.message__5126c.groupStart__5126c, .backgroundFlash__5126c.groupStart__5126c .message__5126c  {
    margin-top: 14% !important;
}

.header_c19a55:has(.username_c19a55) {
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000;
}

.messageListItem__5126c[data-is-self="false"] {
    padding: 0.5% 0%;
    width: 50%;
    overflow: visible !important;
    .contents_c19a55 {
        width: 240% !important;
    }
    .messageContent_c19a55 {
        text-align: left;
        width: 70%;
        background: #000;
        padding: 2%;
        border: 2px #fff solid;
        left: 10%;
        top: 15px;
        transform: rotate(3deg);
    }
    .avatar_c19a55 {
        top: -20px;
        left: 5%;
        width: 46px;
        height: 46px;
        box-sizing: border-box;
        border-radius: 0;
        border: 2px #fff solid;
        background: #000;
        margin: 0;
        transform: skew(5deg) rotate(-5deg);
        transition: 0.1s;
    }
    .avatar_c19a55:hover {
        transform: skew(0deg) rotate(0deg);
    }
    .avatarDecoration_c19a55 {
        top: -26px;
        left: -3.5%;
        width: 64px;
        height: 64px;
    }
}

.messageListItem__5126c[data-is-self="true"] {
    padding: 0.5% 0%;
    width: 100%;
    overflow: visible !important;
    .messageContent_c19a55 {
        text-align: left;
        width: 60% !important;
        background: #000;
        padding: 2%;
        border: 2px #fff solid;
        right: -50%;
        top: 15px;
        transform: rotate(-3deg);
    }
    .avatar_c19a55 {
        top: -20px;
        left: 70%;
        width: 46px;
        height: 46px;
        box-sizing: border-box;
        border-radius: 0;
        border: 2px #fff solid;
        background: #000;
        margin: 0;
        transform: skew(-5deg) rotate(5deg);
        transition: 0.1s;
    }
    .avatar_c19a55:hover {
        transform: skew(0deg) rotate(0deg);
    }
    .avatarDecoration_c19a55 {
        top: -26px;
        left: 35.5%;
        width: 64px;
        height: 64px;
    }
}

.systemMessage__5126c {
    width: 100% !important;
    .messageContent_c19a55 {
        width: 100% !important;
        text-align: center !important;
        background: #0000 !important;
        padding: 0% 10% !important;
        border: none !important;
        top: 0% !important;
        transform: rotate(0deg) !important;
        text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000;
    }
}

/*
.messageListItem__5126c > div > div > div {
    text-align: left;
    width: 50%;
    background: #000;
    padding: 10px 53px 10px 0px;
    border: 2px #fff solid;
    top: 15px;
    transform: rotate(3deg);
}
*/

