/**
 * @name P5R
 * @author n0va & l4cey
 * @version 1.1
 * @description Talk to confidants in Style like a true Phantom Thief.
*/

@import url("https://s-p3rn0va.github.io/p5r-discord-theme/persona.css");

:root {
    --p5-basic-black: #000;
    --p5-basic-white: #fff;
    --p5-basic-red: #f00;
    --p5-msg-bg: #555;
    --p5-members-bg: #f00;
    --p5-app-background: #000;
}
