@font-face {
    font-family: "shoplifter";
    src: url("./shoplifter.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "ransom";
    src: url("./Persona5FanRansom.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "optima";
    src: url("./optimanova.ttf");
    font-weight: 200;
}

:root {
    /* font selection */
    --p5-main-font: "optima";
    --p5-username-font: "shoplifter";
    --p5-members-font: "ransom";
    /* font size adjustment */
    --p5-username-font-size: 2em;
    --p5-members-font-size: 2em;
    /* size adjustment */
    --p5-message-size: 400px;
    /* colors */
    --p5-basic-black: #000;
    --p5-basic-white: #fff;
    --p5-basic-red: #f00;
    --p5-msg-bg: #555;
    --p5-members-bg: #f00;
    --p5-app-background: #000;

    /*--random-number: calc(var(--seed) * var(--index) * var(--index) * noise);*/
}

body *, ::placeholder {
    font-family: var(--p5-main-font) !important;
}

.guilds__5e434 {
    width: 100px;
    background-color: var(--p5-basic-black);
    /*transform: rotate(-3deg) translate3d(15px,0px,0px);*/
}

.selected__6e9f8 {
    .childWrapper__6e9f8 {
        background-color: var(--p5-basic-red) !important;
    }
}

.wrapper__58105 {
    transform: translate3d(-15px,0px,0px) !important;
}

.stack_dbd263 {
    align-items: center !important;
}

.sidebarList__5e434 {
    width: 200px;
    /*transform: rotate(3deg) translate3d(-15px,0px,0px);*/
}

.container_c8ffbb {
    width: 120px;
    height: 103%;
    transform: rotate(5deg) translate3d(-39px,-5px,0px);
}
.members_c8ffbb {
    background-color: var(--p5-basic-red);
    overflow: visible scroll !important;
}
.membersGroupHeader_c8ffbb > span {
    font-family: var(--p5-members-font) !important;
    font-size: var(--p5-members-font-size);
    text-shadow: 2px 0px 2px var(--p5-basic-black), -2px 0px 2px var(--p5-basic-black), 0px 2px 2px var(--p5-basic-black), 0px -2px 2px var(--p5-basic-black);
    color: var(--p5-basic-white);
}
.container__91a9d {
    background-color: var(--p5-basic-red);
    height: 75px;
    .nameplated__91a9d > .container_df39b2 {
        visibility: hidden;
    }
}
.memberInner__5d473 {
    height: 75px;
    .avatar__91a9d {
        width: 75px !important;
        height: 75px !important;
        .wrapper__44b0c > .svg__44b0c {
            width: 60px !important;
            height: 60px !important;
            transform: translate3d(0px,-14px,0px);
            foreignObject {
                width: 100%;
                height: 100%;
                mask: none;
                border: solid 2px var(--p5-basic-white);
            }
            .pointerEvents__44b0c {
                transform: translate3d(0px, 14px, 0px) rotate(-15deg);
            }
            .avatar__44b0c {
                content: var(--avatar-url-512);
                border-radius: 0px !important;
                background-color: var(--p5-basic-black);
            }
        }
    }
    .content__91a9d {
        opacity: 0;
        background-color: var(--p5-basic-black);
        border: solid 2px var(--p5-basic-white);
        transform: translate3d(-40%,12px,0px) rotate(0deg);
        padding: 5px;
        transition-duration: 200ms;
    }
}

.member__5d473:nth-child(even) {
    .avatar__91a9d {
        .wrapper__44b0c > .svg__44b0c {
            transform: rotate(-10deg) translate3d(30px,-10px,0px);
        }
    }
}

.member__5d473:hover {
    .content__91a9d {
        opacity: 100 !important;
        transform: translate3d(-65%,12px,0px) rotate(-8deg);
    }
}

.member__5d473:nth-child(even):hover {
    .content__91a9d {
        opacity: 100 !important;
        transform: translate3d(-65%,12px,0px) rotate(8deg);
    }
}

.content_f75fb0 {
    background-color: var(--p5-basic-black);
}

.bar_c38106 {
    background-color: var(--p5-basic-black);
}

.chatContent_f75fb0 {
    background-color: var(--p5-msg-bg);
    background-image: url("./p5star.gif");
    background-position: 60% 50%;
    background-size: 200%;
    background-blend-mode: multiply;
}

.chatGradient__36d07 {
    visibility: hidden;
}
.chatTypingGradientNotAtBottom__36d07 {
    visibility: hidden !important;
}
.chatGradientBase__36d07 {
    visibility: hidden !important;
}

.channelTextArea_f75fb0 {
    width: 90%;
    border-radius: 0px;
    transform: rotate(-1deg) translate3d(-10px,-20px,0px);
    background: var(--p5-basic-white);
    > div {
        border-radius: 0px;
        background-color: var(--p5-basic-black);
    }
}

.header_c19a55 {
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000;
    transform: translate3d(-70px,-5px,0px);
    overflow: visible !important;
    .username_c19a55 {
        font-family: var(--p5-username-font) !important;
        font-size: var(--p5-username-font-size);
    }
}

.messageListItem__5126c {
    padding: 15px 0px 15px 0px;
    .contents_c19a55 {
        padding: 0px 0px 0px 75px;
    }
    .repliedMessageClickableSpine_c19a55 {
        color: var(--p5-basic-white) !important;
    }
    .repliedMessage_c19a55 {
        width: fit-content;
        padding: 10px;
        border: #fff 1px solid;
        background-color: var(--p5-basic-black);
        transform: rotate(-2deg) translate3d(0px,-15px,0px);
    }
    .messageContent_c19a55:not(.repliedTextContent_c19a55) {
        width: var(--p5-message-size);
        padding: 15px;
        border: #fff 2px solid;
        background-color: var(--p5-basic-black);
        transform: rotate(2deg) translate3d(0px,5px,0px);
    }
    .avatar_c19a55 {
        border-radius: 0px;
        border: 2px var(--p5-basic-white) solid;
        background: var(--p5-basic-black);
        transform: skew(-5deg) rotate(8deg) translate3d(0px,-15px,0px);
    }
    .avatarDecoration_c19a55 {
        
    }
    .reactions__23977 {
        width: fit-content;
        transform: rotate(5deg);
    }
}

.backgroundFlash__5126c .message__5126c {
    padding-bottom: 50px;
}

.backgroundFlash__5126c.groupStart__5126c {
    margin-top: 50px;
}

.message__5126c.groupStart__5126c, .backgroundFlash__5126c.groupStart__5126c .message__5126c  {
    margin-top: 50px !important;
}

.systemMessage__5126c {

}

.typing_b88801 {
    transform: rotate(1deg) translate3d(0px,-10px,0px);
}


/* plugin stuff */

.vc-membercount-widget {
    transform: rotate(-5deg) translate3d(-50px,-10px,0px);
    .vc-membercount-container:has(.vc-membercount-voice-icon) {
        transform: translate3d(-75px,20px,0px);
    }
}

/*
.stack_dbd263 {
    background-color: var(--p5-red);
}

.headerText_c19a55 > .username_c19a55 {
    font-family: "shoplifter" !important;
    font-size: 1.5rem;
    color: #fff;
}

.backgroundFlash__5126c .message__5126c {
    padding-bottom: 2%;
}

.backgroundFlash__5126c.groupStart__5126c {
    margin-top: 6%;
}

.message__5126c.groupStart__5126c, .backgroundFlash__5126c.groupStart__5126c .message__5126c  {
    margin-top: 14% !important;
}

.header_c19a55:has(.username_c19a55) {
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000;
}

.messageListItem__5126c[data-is-self="false"] {
    padding: 0.5% 0%;
    width: 50%;
    overflow: visible !important;
    .contents_c19a55 {
        width: 240% !important;
    }
    .messageContent_c19a55 {
        text-align: left;
        width: 70%;
        background: #000;
        padding: 2%;
        border: 2px #fff solid;
        left: 10%;
        top: 15px;
        transform: rotate(3deg);
    }
    .avatar_c19a55 {
        top: -20px;
        left: 5%;
        width: 46px;
        height: 46px;
        box-sizing: border-box;
        border-radius: 0;
        border: 2px #fff solid;
        background: #000;
        margin: 0;
        transform: skew(5deg) rotate(-5deg);
        transition: 0.1s;
    }
    .avatar_c19a55:hover {
        transform: skew(0deg) rotate(0deg);
    }
    .avatarDecoration_c19a55 {
        top: -26px;
        left: -3.5%;
        width: 64px;
        height: 64px;
    }
}

.messageListItem__5126c[data-is-self="true"] {
    padding: 0.5% 0%;
    width: 100%;
    overflow: visible !important;
    .messageContent_c19a55 {
        text-align: left;
        width: 60% !important;
        background: #000;
        padding: 2%;
        border: 2px #fff solid;
        right: -50%;
        top: 15px;
        transform: rotate(-3deg);
    }
    .avatar_c19a55 {
        top: -20px;
        left: 70%;
        width: 46px;
        height: 46px;
        box-sizing: border-box;
        border-radius: 0;
        border: 2px #fff solid;
        background: #000;
        margin: 0;
        transform: skew(-5deg) rotate(5deg);
        transition: 0.1s;
    }
    .avatar_c19a55:hover {
        transform: skew(0deg) rotate(0deg);
    }
    .avatarDecoration_c19a55 {
        top: -26px;
        left: 35.5%;
        width: 64px;
        height: 64px;
    }
}

.systemMessage__5126c {
    width: 100% !important;
    .messageContent_c19a55 {
        width: 100% !important;
        text-align: center !important;
        background: #0000 !important;
        padding: 0% 10% !important;
        border: none !important;
        top: 0% !important;
        transform: rotate(0deg) !important;
        text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px 2px 0px #000, 0px -2px 0px #000;
    }
}
*/
